body{
    font-size: 10px;
    font-family: "微软雅黑";
}
/*-----------------------------------------------------清浮动-----------------------------------------------------*/

.clearfix:before, .clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}
/*-----------------------------------------------------登录注册-----------------------------------------------------*/
.login-register{
    width: 200px;
    height: 50px;
    position:fixed;
    right: 20px;
    top: 25px;
    z-index: 500;
}
.user-btn{
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 50%;
    background: #ffc000;
    line-height: 50px;
    text-align: center;
    display: block;
    font-size: 20px;
    color: #fff;
    float: right;
    position: relative;
    left: 25px;
    border:2px solid #fff;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.forget{
    width: 150px;
    height: 40px;
    display: block;
    color: #999;
    font-size: 16px;
    position: absolute;
    right: -6px;
    bottom: 0;
}
.forget:hover,.forget:active,.forget:link,.forget:visited{
    color: #999;
}
.user-btn:hover,.user-btn:active,.user-btn:link,.user-btn:visited{
    color: #fff;
}
.login-register-btns{
    background: #fff;
    width: 0;
    height: 50px;
    border:2px solid #eee;
    float: right;
    border-radius: 0 50px 50px 0;
    overflow: hidden;
    padding-left: 20px;
    line-height: 50px;
}
.login-register-btns a{
    width: 30px;
    display: block;
    float: left;
    text-decoration: none;
    color: #c6c6c6;
    margin-left: 20px;
    font-size: 13px;
}
.login-register-btns a:hover{
    color: #ffc000;
}
.user-operation{
    width: 100%!important;
    height: 100%;
    display: block;
    margin: 0;
    position: relative;
    right: 18px;
    display: none;
}
.user-operation p{
    width: 75%;
    color: #ffc000;
    font-size: 12px;
    text-indent: 5px;
    float: left;
}
.user-operation span{
    float: right;
    margin: 18px 15px 0 0;
    color: #ffc000;
}
.user-news{
    width: 171px;
    height: 150px;
    background: #fff;
    position: fixed;
    z-index: 9999;
    right: 20px;
    top: 80px;
    border-radius: 5px;
    display: none;
    overflow: hidden;
}
.user-news a{
    width: 100%;
    height: 50%;
    display: block;
    text-decoration: none;
    color: #ffc000;
    line-height: 75px;
    font-size: 16px;
    padding-left: 40px;
}
.user-news a:hover{
    background: #ffc000;
    color: #fff;
    border-color: #ffc000;
}
.personal{
    border:2px solid #eee;
    border-bottom:none;
    border-radius: 5px 5px 0 0;
}
.layout{
    border:2px solid #eee;
    border-top: none;
    border-radius: 0 0 5px 5px;
}
.user-news a span{
    margin-right: 10px;
    position: relative;
    top: 2px;
}
#login,#register{
    width: 500px;
    height: 220px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    position: fixed;
    background: #fff;
    left: 50%;
    margin-left: -250px;
    top: 100px;
    display: none;
    opacity: 0;
    filter: alpha(opacity=0);
    border-radius: 5px;
    z-index: 9999;
    padding: 19px 55px;
}
#register{
    height: 345px;
    top: 80px;
}
#login h1,#register h1{
    color: #7E7E7E;
    text-align: center;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin-bottom: 25px;
}
#login h1:before,
#login h1:after,
#register h1:before,
#register h1:after{
	content:"";
	height:1px;
	position:absolute;
	top:47px;
	width:35%;
}

#login h1:after,#register h1:after{
	background:rgb(126,126,126);
	background:-moz-linear-gradient(left,rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background:-webkit-linear-gradient(left,rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background:-moz-linear-gradient(left,rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background:-ms-linear-gradient(left,rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background:linear-gradient(left,rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	right:0px;
}

#login h1:before,#register h1:before{
	background:rgb(126,126,126);
	background:-moz-linear-gradient(right,rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background:-webkit-linear-gradient(right,rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background:-moz-linear-gradient(right,rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background:-ms-linear-gradient(right,rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background:linear-gradient(right,rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	left:0px;
}
.username,.password,.password-again,.email,.verification{
    width: 100%;
    height: 35px;
    margin-top: 15px;
    font-size: 18px;
}
.username span,.password span,.password-again span,.email span,.verification span{
    height: 100%;
    width: 25px;
    display: block;
    float: left;
    line-height: 35px;
    margin-right: 25px;
}
.username input,.password input,.password-again input,.email input,.verification input{
    width: calc(100% - 75px);
    float:left;
    border:none;
    border-bottom:3px solid #999;
    outline: none;
    background: none;
    font-size:16px;
    color: #999;
    position: relative;
    z-index: 10;
}
.verification input{
    width: calc(100% - 165px);
}
.verification-btn{
    width: 80px;
    height: 30px;
    background-color: #f44336;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size:14px;
    outline: none;
    border:none;
    float: right;
    position: relative;
    right: 22px;
    bottom:2px;
}
.loginB,.registerB{
    width: 60px;
    height:60px;
    border-radius: 50%;
    background: #FFE434;
    background-image: url(http://olf10efjb.bkt.clouddn.com/right-arrow.png);
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.27);
    position: absolute;
    top: 82px;
    right: -25px;
    border:none;
    outline: none;
    transition: .3s all ease-in-out;
}
.registerB{
    top: 14.5rem;
    background-color: #f44336;
}
.loginB:hover,.registerB:hover{
    right: -20px;
}
.exit-login,.exit-register{
    color: #999;
    position: absolute;
    font-size:18px;
    right: 20px;
    top: 10px;
    transition: .3s all ease-in-out;
}
.exit-login:hover,.exit-register:hover{
    transform:scale(1.2,1.2);
}
.exit-login:hover,.exit-register:hover,.exit-login:link,.exit-register:link,.exit-login:visited,.exit-register:visited,.exit-login:active,.exit-register:active{
    color: #999;
}
.prompt-login{
    display: none;
    opacity: 0;
    color: #f44336;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    right: 65px;/*7.9rem 对齐*/
    bottom:53px;/*10.4rem 与用户名对齐*/
}
.prompt-register{
    display: none;
    opacity: 0;
    color: #f44336;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    right: 65px;/*7.9rem 对齐,*/
    bottom:28px;/*12.8与again对齐，17.8rem与密码对齐*，22.9与用户名对齐,7.8与邮箱对齐*/
}
/*-----------------------------------------------------顶部-----------------------------------------------------*/
.top{
    width: 100%;
    height: 500px;
    background: #ffc000;
}
.top h1{
    font-family: "微软雅黑";
    font-weight: 700;
    color:#fff;
    text-align: center;
    margin-top: 120px;
}
/*-----------------------------------------------------导航-----------------------------------------------------*/
.nav{
    width: 800px;
    margin: 0 auto;
    height: 100px;
    padding-left: 250px;
    background-image: url(http://olf10efjb.bkt.clouddn.com/logo.png);
    background-repeat: no-repeat;
    background-size: 200px auto;
    background-position: 95px -40px;
}
.nav ul {
    margin: 0;
    padding-left: 0;
}
.nav ul li{
    list-style: none;
    float: left;
    width: 100px;
    height: 100%;
    line-height: 80px;
}
.nav ul li a{
    display: block;
    width:100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-family: "微软雅黑";
}
.nav ul li a:hover{
    background: #eaa90d;
}
.nav-btn{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 5px;
    position: fixed;
    left: 20px;
    top: 30px;
    padding-top: 6px;
    padding-left: 4px;
    border:1px solid #ffc000;
    z-index: 999;
    display: none;
}
.nav-btn a{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}
.line1{
    width: 90%;
    height: 6px;
    background: #ffc000;
    float: left;
    margin-bottom: 5px;
}
.line2{
    width: 90%;
    height: 6.5px;
    background: #ffc000;
    float: left;

}
/*-----------------------------------------------------搜索框-----------------------------------------------------*/
.search{
    width: 100%;
    text-align:center;
    margin-top: 55px;
}
.search-container{
    width: 540px;
    margin: 0 auto;
}
.search input{
    width: 500px;
    height: 40px;
    border:none;
    outline: none;
    text-indent: 32px;
    font-size: 16px;
    float: left;
    border-radius:10px 0 0 10px;
}
.search-container a{
    height: 40px;
    border:2px solid #fff;
    margin-left: 400px;
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    border-radius:0 10px 10px 0;
}
/*-----------------------------------------------------热门食物-----------------------------------------------------*/
#hot-food{
    width: 100%;
    padding: 0 10%;
    font-family: "微软雅黑";
    padding-bottom:50px;
}
.hot-food-top{
    width:100%;
    padding-top:70px;
}
.hot-food-top .title{
    width: 50%;
    float: left;
}
.hot-food-top .title .title-b{
    width: 100%;
    font-size: 30px;
    font-weight: 700;
}
.hot-food-top .title .title-s{
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #999;
}
.hot-food-top-r{
    width: 50%;
    float: right;
}
.top-circle1,.top-circle2,.top-circle3,.top-circle4{
    font-size: 25px;
    text-align: center;
    line-height: 140px;
    color: #fff;
    font-weight: 700;
}
.top-circle1 span,.top-circle2 span,.top-circle3 span,.top-circle4 span{
    position: relative;
    z-index: 100;
}
.top-circle1{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #3CC4C9;
    float: right;
    position: relative;
    left: 90px;
    z-index: 1;
}
.top-circle1:after{
    content:'';
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #3CC4C9;
    position: relative;
    left: 70px;
    bottom:70px;
}
.top-circle2{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #ffc000;
    float: right;
    position: relative;
    left: 60px;
    z-index: 2;
}
.top-circle2:after{
    content:'';
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #ffc000;
    position: relative;
    left: 70px;
    bottom:70px;
}
.top-circle3{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #F06D68;
    float: right;
    position: relative;
    left: 30px;
    z-index: 3;
}
.top-circle3:after{
    content:'';
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #F06D68;
    position: relative;
    left: 70px;
    bottom:70px;
}
.top-circle4{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #366972;
    float: right;
    position: relative;
    z-index: 4;
}
.top-circle4:after{
    content:'';
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #366972;
    position: relative;
    left: 70px;
    bottom:70px;
}
.more{
    width: 200px;
    height: 40px;
    background: #ffc000;
    border-radius: 20px;
    float: right;
    margin:16px 40px 0 0;
}
.more a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 37px;
    font-size: 18px;
    font-weight: 700;
    color:#fff;
    border-radius: 20px;
    border:2px solid transparent;
    text-decoration: none;
}
.more a:hover{
    background: #fff;
    color: #ffc000;
    border:2px solid #ffc000;
}
.rank{
    width: 400px;
    height: 420px;
    background: #366972;
    margin-top: 60px;
    padding-top: 20px;
    float: left;
}
.rank-title{
    width: 100%;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom:10px;
}
.rank ul{
    margin:0;
    padding-left: 0;
}
.rank ul li{
    width: 100%;
    height: 35px;
    list-style: none;
    font-size: 18px;
    line-height: 35px;
}
.rank ul li a{
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
}
.rank ul li a:hover{
    background: #145E69;
}
.swiper-container{
    width: 600px;
    height:420px;
    margin-top: 60px!important;
    float: right;
}
.slide1{
    background: url(../imgs/food1.jpg);
}
.slide2{
    background: url(../imgs/food2.jpg);
}
.slide3{
    background: url(../imgs/food3.jpg);
}
.swiper-slide{
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
/*-----------------------------------------------------所有美食-----------------------------------------------------*/
#all{
    width: 100%;
    padding:0 10%;
}
.screen{
    width:100%;
    height:50px;
    background:#ffc000;
    padding: 10px 0 0 10px;
    margin-bottom:30px;
}
.screen ul{
    margin: 0;
    padding-left:0;
}
.screen ul li{
    list-style: none;
    float: left;
    width:70px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
    line-height: 30px;
}
.screen ul li a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    color: #fff;
}
.screen-selected{
    background: #fff;
    color: #ffc000!important;
}
/*------------------------------------------------- 瀑布流布局--------------------------------------------*/
.container-fluid {
    margin: 0 auto;
    padding: 0;
}
.box {
    width: 250px;
    padding: 10px; 
    margin:  0 0 10px;
    border:1px solid #c6c6c6;
}
.box img {
    width: 100%;
}
.food-news{
    width: 100%;
    font-family: "宋体";
}
.food-name{
    width: 100%;
    float: left;
    font-size: 13px;
    color: #898686;
    margin-top: 5px;
    border-bottom:1px solid #c6c6c6;
    line-height: 25px;
}
.food-views{
    width: 30%;
    float: left;
    font-size: 11px;
    color: #999;
    margin: 0;
}
.food-views font{
    color: #ffc000;
    font-size: 13px;
    font-weight: 700;
    margin-right: 2px;
}
.time-author{
    float: right;
    color: #999;
    font-size: 11px;
}
/*------------------------------------------------- 底部--------------------------------------------*/
.bottom{
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background: #ffc000;
    color: #fff;
}
/*------------------------------------------------- 响应--------------------------------------------*/
@media screen and (max-width: 1400px){
    #hot-food,#all{
        padding-left:5%;
        padding-right: 5%;
    }
    .hot-food-top .title .title-b{
        width: 100%;
        font-size: 25px;
    }
    .hot-food-top .title .title-s{
        font-size: 12px;
    }
    .top-circle1,.top-circle2,.top-circle3,.top-circle4{
        width: 100px;
        height:100px;
        font-size: 20px;
        line-height: 100px;
    }
    .top-circle1:after, .top-circle2:after, .top-circle3:after, .top-circle4:after{
        width: 52px;
        height: 51px;
        left: 48px;
        bottom:50px;
    }
    .top-circle1{
        left: 60px;
    }
    .top-circle2{
        left: 40px;
    }
    .top-circle3{
        left: 20px;
    }
    .more{
        width: 150px;
        height: 30px;
        margin:  0 50px 0 0;
    }
    .more a{
        line-height: 30px;
        font-size: 16px;

    }
    .rank{
        width: 350px;
    }
    .swiper-container{
        width: 550px;
    }
}
@media screen and (max-width: 1200px){
    .rank{
        width: 300px;
    }
    .swiper-container{
        width: 500px;
    }
}
@media screen and (max-width: 900px){
    .hot-food-top .title{
        width: 100%;
        text-align: center;
        padding-bottom:50px;
    }
    .more{
        margin: 0 auto;
        float: none;
    }
    .hot-food-top-r{
        width: 100%;
        text-align: center;
    }
    .top-circle1,.top-circle2,.top-circle3,.top-circle4{
        display: inline-block;
        float: none;
    }
    .rank{
        width: 80%;
        margin: 50px auto;
        float: none;
    }
    .swiper-container{
        width: 80%;
        margin: 0 auto;
        float:none;
    }
    .nav-btn{
        display: block;
    }
    .nav{
        width: 40px;
        height: 0;
        padding: 0;
        margin: 0;
        position: fixed;
        left: 20px;
        top: 71px;
        background-image: none;
        overflow: hidden;
        z-index: 999;
    }
    .nav ul li{
        width: 40px;
        height: 40px;
        background: #fff;
        margin-top: 2px;
        border:1px solid #ffc000;;
    }
    .nav ul li a{
        line-height: 40px;
        color: #ffc000;
        font-size: 16px;
    }
    .nav ul li a:hover{
        background: none;
        color: #ffc000;
    }
    .top{
        padding-top: 300px;
        background-image: url(../imgs/logo.png);
        background-repeat: no-repeat;
        background-size: 240px auto;
        background-position: 50% 100px;
    }
    .top h1{
        margin: 0;
    }
}
@media screen and (max-width: 600px){
    .hot-food-top .title .title-b{
        font-size: 20px;
    }
    .hot-food-top .title .title-s{
        font-size: 10px;
    }
    .top-circle1,.top-circle2,.top-circle3,.top-circle4{
        width: 80px;
        height: 80px;
        left: 0;
        line-height: 80px;
    }
    .top-circle1:after,.top-circle2:after,.top-circle3:after,.top-circle4:after{
        display: none;
    }
    .top h1{
        font-size: 25px;
    }
    .search-container{
        width: 80%;
        margin: 0 auto;
    }
    .search-container input{
        width: calc(100% - 40px);
        float: left;
        font-size: 14px;
    }
    .search-btn{
        width: 40px;
        float: right;
        margin: 0!important;
    }
    #login,#register{
        margin: 0;
        width: 80%;
        left: 10%;
    }
    .screen ul li{
        width: 40px;
        height: 30px;
    }
    .screen ul li a{
        font-size: 12px;
    }
    
}
@media screen and (max-width: 450px){
    #login,#register{
        padding-left: 10px;
        padding-right: 20px;
    }
    #login span,#register span{
        position:relative;
        left: 16px;
    }
}