<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>我的消息</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/message-center.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
  <head> 
  <body>
    <div id="top">
      <div class="back">
        <a href="personal-information.html">
          <i class=" icon-arrow-left"></i>
        </a>
      </div>
      <div class="circle-border">
        <div class="head-img">
          <a href="#javascript"></a>
        </div>
      </div>
      <div class="user-name">
        <p>该用户已成仙</p><div class="user-sex"></div>
      </div>
    </div>
    <div id="content">
      <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#all" class="a-address" aria-controls="all" role="tab" data-toggle="tab">全部消息</a></li>
    <li role="presentation"><a href="#unread" aria-controls="unread" role="tab" data-toggle="tab">未读消息</a></li>
    <li role="presentation"><a href="#read" aria-controls="read" role="tab" data-toggle="tab">已读消息</a></li>
  </ul>
  <div class="user-operation">
    <a href="#javascript">全部置为已读</a>
    <a href="#javascript">清空所有消息</a>
  </div>
  <!-- Tab panes -->
  <div class="reply-window">
    <div class="top">
      对话详情
      <a class="reply-exit" href="#javascript">
        <i class="icon-remove"></i>
      </a>
    </div>
    <div class="reply-details">
      <ul>
        <li>
          <div class="others-head-img">
            <a href="#javascript"></a>
          </div>
          <div class="reply-content">
            <a class="user-name" href="#javascript">丁嗨皮</a>
            <span>(作者)</span>
            <span class="reply-operation">回复</span>
            <p>你的作品很不错，我很喜欢。</p>
          </div>
        </li>
        <li>
          <div class="head-img">
            <a href="#javascript"></a>
          </div>
          <div class="reply-content">
            <a class="user-name" href="#javascript">该用户已成仙</a>
            <p>你的作品很不错，我很喜欢。</p>
          </div>
        </li>
        <li>
          <div class="others-head-img">
            <a href="#javascript"></a>
          </div>
          <div class="reply-content">
            <a class="user-name" href="#javascript">丁嗨皮</a>
            <p>你的作品很不错，我很喜欢。</p>
          </div>
        </li>
        <li>
          <div class="head-img">
            <a href="#javascript"></a>
          </div>
          <div class="reply-content">
            <a class="user-name" href="#javascript">该用户已成仙</a>
            <p>你的作品很不错，我很喜欢。</p>
          </div>
        </li>
        <li>
          <div class="others-head-img">
            <a href="#javascript"></a>
          </div>
          <div class="reply-content">
            <a class="user-name" href="#javascript">丁嗨皮</a>
            <p>你的作品很不错，我很喜欢。</p>
          </div>
        </li>
      </ul>
    </div>
    <div id="editor">
    </div>
    <button class="send-btn">发送</button>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="all"><!--未读消息-->
        <div class="message-container">
          <div class="others-head-img">
            <a href="#javascript"></a>
          </div>
          <div class="message-content">
            <a class="others-name" href="#javascript">丁欢喜</a>
            <p class="others-operation">评论</p>
            <a href="#javascript" class="news-btn">
              <i class="icon-chevron-down"></i>
            </a>
            <span class="time">6月30日 14:01</span>
            <div class="reply-content">
              <p>你的作品很不错，我很喜欢。</p>
              <a href="#javascript" class="reply"><i class="icon-comments"></i>查看对话</a>
              <a class="work food-work" href="#javascript">烤全鳖的由来</a>
              <span>来源于</span>
            </div>
          </div>
          <div class="news-operation">
            <ul>
              <li>
                <a href="#javascript">设为已读</a>
              </li>
              <li>
                <a href="#javascript">删除消息</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="message-container">
          <div class="others-head-img">
            <a href="#javascript"></a>
          </div>
          <div class="message-content">
            <a class="others-name" href="#javascript">丁欢喜</a>
            <span class="identity">(作者)</span>
            <p class="others-operation">回复</p>
            <a href="#javascript" class="news-btn">
              <i class="icon-chevron-down"></i>
            </a>
            <span class="time">6月30日 14:01</span>
            <div class="reply-content">
              <p>谢谢你的评论。</p>
              <a href="#javascript" class="reply"><i class="icon-comments"></i>查看对话</a>
              <a class="work home-work" href="#javascript">渐行渐远的古朴乡村</a>
              <span>来源于</span>
            </div>
          </div>
          <div class="news-operation">
            <ul>
              <li>
                <a href="#javascript">设为已读</a>
              </li>
              <li>
                <a href="#javascript">删除消息</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="message-container">
          <div class="others-head-img">
            <a href="#javascript"></a>
          </div>
          <div class="message-content">
            <a class="others-name" href="#javascript">丁欢喜</a>
            <span class="identity">(我的粉丝)</span>
            <p class="others-operation">私聊您</p>
            <a href="#javascript" class="news-btn">
              <i class="icon-chevron-down"></i>
            </a>
            <span class="time">6月30日 14:01</span>
            <div class="reply-content">
              <p>在吗，我很喜欢你的作品，能和你聊聊吗</p>
              <a href="chat.html" class="chat"><i class="icon-comments"></i>进入聊天</a>
            </div>
          </div>
          <div class="news-operation">
            <ul>
              <li>
                <a href="#javascript">设为已读</a>
              </li>
              <li>
                <a href="#javascript">删除消息</a>
              </li>
            </ul>
          </div>
        </div>
        
    </div>
    <div role="tabpanel" class="tab-pane" id="unread"><!--未读消息-->

    </div>
    <div role="tabpanel" class="tab-pane" id="read"><!--已读消息-->

    </div>
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wangEditor.min.js"></script>
    <script src="js/message-center.js"></script>
    <script>
        var E = window.wangEditor
        var editor = new E('#editor')
        // 或者 var editor = new E( document.getElementById('#editor') )
        editor.customConfig.menus = [
          'emoticon',  // 表情
        ]
        editor.create()
    </script>
  </body>
</html>